{
  "semi": true,
  "useTabs": false,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^pages",
    "^pages/(.*)$",
    "^templates",
    "^templates/(.*)$",
    "^layouts",
    "^layouts/(.*)$",
    "^components",
    "^components/(.*)$",
    "([.]component)$",
    "^ui",
    "^ui/(.*)$",
    "([.]svg|[.]jpg|[.]jpeg|[.]gif|[.]png)$",
    "^assets",
    "^assets/(.*)$",
    "^store",
    "^store/(.*)$",
    "^utils",
    "^utils/(.*)$",
    "^shared",
    "^shared/(.*)$",
    "^constants",
    "^constants/(.*)$",
    "([.]type|[.]types)$",
    "([.]defaults|[.]default|[.]helper|[.]helpers|[.]constants)$",
    "^[./](?!.*([.]css|[.]scss))",
    "([.]css|[.]scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
